body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    background-color: #F7F7F7;
    color: #313131;
}

.h3{
    margin-top: 10%;
    margin-bottom: 4%;
    font-weight: 1000;
    display: flex;
    justify-content: center;
}

/*.carousel-item{
    height: 60vh;
  }

.d-block{
    height: 60vh;
    width: 100vh;
}*/
#poledni{
    margin-top: 15%;
}

#odpocet{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #B62931;
    font-size: medium;
    margin-top: -2%;
}

#poledni-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#stale-tlacitka{
    width: 90%;
}

.stale-vyber{
    border-radius: 7px;
    color: #B62931;
    background-color: #e1e1e1;
    border: none;
    padding: 2%;
    font-weight: 500;
    margin: 2%;
    cursor: pointer;
    width: 100%;
}

#rezervace-div{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 90%;
    padding: 5% 0% 5% 0%;
    border: #B62931 4px solid;
    border-radius: 10px;
    background-color: #313131;
}

#rezervace-form{
    align-self: center;
}

label{
    margin-bottom: 5px;
    color: #F7F7F7;
}

input{
    width: 100%;
    padding: 2%;
    margin-bottom: 5%;
    border: 2px solid #B62931;
    border-radius: 2px;
    background-color: #F7F7F7;
}

input[type="submit"]{
    background-color: #B62931;
    color: #F7F7F7;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #F7F7F7;
    color: #B62931;
    border: #313131 1px solid;
    scale: 1.1;
}

#adresa-div{
    display: flex;
    align-self: center;
}

#adresa-text{
    text-align: left;
    width: 90%;
    display: flex;
}

#nadpis{
    color: #B62931;
    font-weight: 500;
}

#kontakt-div{
    display: flex;
    align-self: center;
}

#kontakt-text{
    text-align: left;
    width: 90%;
    display: flex;
}

#iframe{
    width: 90vw;
    height: 90%;
    border: #B62931 1px solid;
    align-self: center;
    display: flex;
    justify-content: center;
    
}

#onas-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#onas-p{
    display: flex;
    justify-content: center;
    width: 90%;
    text-align: justify;
    text-align-last: center;
}

#recenze-div{
    display: block;
    justify-content: center;
    width: 95%;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.recenze {
    background-color: #313131;
    color: #F7F7F7;
    padding: 9%;
    margin: 5%;
    width: 100%;
}
  
.checked {
    color: #B62931;
    scale: 1.3;
    margin: 2%;
}

.unchecked{
    color: #F7F7F7;
    scale: 1.3;
    margin: 2%;
}

.recenze-datum{
    color: #A8A8A8;
    font-size: smaller;
    margin-top: 1%;
}

#faq-div{
    display: block;
    justify-content: center;
    width: 90%;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

.dotaz-btn{
    margin-top: 5%;
    background-color: #B62931;
    color: #F7F7F7;
    border: none;
    cursor: pointer;
    text-align: left;
}

/*.dotaz-btn:hover{

}*/

.fa-chevron-down{
    align-self: right;
}

.dotaz-unroll{
    display: none;
    justify-content: center;
    align-items: center;
}

#footer{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #313131;
    color: #F7F7F7;
}

#footer-logo{
    width: 30vh;
    margin-top: 5%;
    margin-bottom: 5%;
    /*align-self: center;
    align-items: center;*/
    margin-right: 10%;
}

#footer-text{
    /*margin-right: 10%;
    float: right;*/
    margin-left: 15%;
    margin-top: 10%;
    font-size: 90%;
    color: #A8A8A8;
}